In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

### Entrega 10/11 - Dataset lido
Mínimo esperado: um arquivo do jupyter notebook (.ipynb) com o
código que lê o dataset (que também deve ser enviado no git) e realiza limpeza e manipulações necessárias no dataset.

In [2]:
data = pd.read_excel("tea.xlsx")
print(data.shape)
data.head()

(300, 36)

,breakfast,afternoon.tea,evening,after.lunch,after.dinner,anytime,home,work,tearoom,friends,...,good for health,diuretic,friendliness,iron absorption,feminine,refined,slimming,stimulant,relaxant,no.effect.health
0,False,False,False,False,True,False,True,False,False,False,...,True,False,False,False,False,True,False,False,True,True
1,False,False,False,False,True,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,True,True,False,False,True,...,True,True,True,False,True,True,True,False,True,False
3,False,False,False,False,False,True,True,False,False,False,...,True,False,True,False,True,True,False,False,True,True
4,False,False,False,False,False,True,True,True,True,True,...,True,True,False,False,True,True,True,False,False,True

### Entrega 15/11 - Dataset lido e análise exploratória feita
Mínimo esperado: um arquivo do jupyter notebook (.ipynb) com o
código que lê o dataset (que também deve ser enviado no git) e realiza limpeza e manipulações necessárias no dataset.

In [3]:
data = data.astype("category")

for col in data.columns:
    print('-' * 40 + col + '-' * 40 , end=' - ')
    display(data[col].value_counts())

----------------------------------------breakfast---------------------------------------- -

False    156
True     144
Name: breakfast, dtype: int64

----------------------------------------afternoon.tea---------------------------------------- -

True     169
False    131
Name: afternoon.tea, dtype: int64

----------------------------------------evening---------------------------------------- -

False    197
True     103
Name: evening, dtype: int64

----------------------------------------after.lunch---------------------------------------- -

False    256
True      44
Name: after.lunch, dtype: int64

----------------------------------------after.dinner---------------------------------------- -

False    279
True      21
Name: after.dinner, dtype: int64

----------------------------------------anytime---------------------------------------- -

False    197
True     103
Name: anytime, dtype: int64

----------------------------------------home---------------------------------------- -

True     291
False      9
Name: home, dtype: int64

----------------------------------------work---------------------------------------- -

False    213
True      87
Name: work, dtype: int64

----------------------------------------tearoom---------------------------------------- -

False    242
True      58
Name: tearoom, dtype: int64

----------------------------------------friends---------------------------------------- -

True     196
False    104
Name: friends, dtype: int64

----------------------------------------restaurant---------------------------------------- -

False    221
True      79
Name: restaurant, dtype: int64

----------------------------------------pub---------------------------------------- -

False    237
True      63
Name: pub, dtype: int64

----------------------------------------variety---------------------------------------- -

flavoured    193
black         74
green         33
Name: variety, dtype: int64

----------------------------------------how---------------------------------------- -

nothing.added    195
milk              63
lemon             33
other              9
Name: how, dtype: int64

----------------------------------------sugar---------------------------------------- -

False    155
True     145
Name: sugar, dtype: int64

----------------------------------------format---------------------------------------- -

sachet          170
sachet+loose     94
loose            36
Name: format, dtype: int64

----------------------------------------place.of.purchase---------------------------------------- -

supermarket                192
supermarket+specialist.     78
specialist.shop             30
Name: place.of.purchase, dtype: int64

----------------------------------------type---------------------------------------- -

varies         112
known.brand     95
luxury          53
shop.brand      21
unknown         12
cheapest         7
Name: type, dtype: int64

----------------------------------------sex---------------------------------------- -

F    178
M    122
Name: sex, dtype: int64

----------------------------------------profession---------------------------------------- -

student              70
unemployed           64
employee             59
management           40
senior management    35
other work           20
manual labourer      12
Name: profession, dtype: int64

----------------------------------------sport---------------------------------------- -

True     179
False    121
Name: sport, dtype: int64

----------------------------------------age---------------------------------------- -

21    20
22    18
25    16
20    12
23    12
      ..
68     1
62     1
89     1
43     1
90     1
Name: age, Length: 61, dtype: int64

----------------------------------------age_Q---------------------------------------- -

15-24       92
25-34       69
45-59       61
35-44       40
60 and +    38
Name: age_Q, dtype: int64

----------------------------------------frequency---------------------------------------- -

more than 2/day    127
1/day               95
1 to 2/week         44
3 to 6/week         34
Name: frequency, dtype: int64

----------------------------------------exotic---------------------------------------- -

False    158
True     142
Name: exotic, dtype: int64

----------------------------------------spirituality---------------------------------------- -

False    206
True      94
Name: spirituality, dtype: int64

----------------------------------------good for health---------------------------------------- -

True     210
False     90
Name: good for health, dtype: int64

----------------------------------------diuretic---------------------------------------- -

True     174
False    126
Name: diuretic, dtype: int64

----------------------------------------friendliness---------------------------------------- -

True     242
False     58
Name: friendliness, dtype: int64

----------------------------------------iron absorption---------------------------------------- -

False    269
True      31
Name: iron absorption, dtype: int64

----------------------------------------feminine---------------------------------------- -

False    171
True     129
Name: feminine, dtype: int64

----------------------------------------refined---------------------------------------- -

True     215
False     85
Name: refined, dtype: int64

----------------------------------------slimming---------------------------------------- -

False    255
True      45
Name: slimming, dtype: int64

----------------------------------------stimulant---------------------------------------- -

False    184
True     116
Name: stimulant, dtype: int64

----------------------------------------relaxant---------------------------------------- -

True     187
False    113
Name: relaxant, dtype: int64

----------------------------------------no.effect.health---------------------------------------- -

True     234
False     66
Name: no.effect.health, dtype: int64

A variável target escolhida é "Variety" para descobrir qual é a preferência de tipo de chá consumido.

In [9]:
pd.crosstab(data["variety"], data["age_Q"])

age_Q      15-24  25-34  35-44  45-59  60 and +
variety
black         11     11     16     18        18
flavoured     77     48     21     34        13
green          4     10      3      9         7

In [5]:
pd.crosstab(data["variety"], data["profession"])

profession,employee,management,manual labourer,other work,senior management,student,unemployed
variety,,,,,,,
black,15,13,1,5,9,9,22
flavoured,38,23,9,11,22,58,32
green,6,4,2,4,4,3,10

In [6]:
pd.crosstab(data["variety"], data["good for health"])

good for health  False  True
variety
black               20    54
flavoured           64   129
green                6    27

In [7]:
pd.crosstab(data["variety"], data["how"])

how        lemon  milk  nothing.added  other
variety
black          7    19             42      6
flavoured     24    38            128      3
green          2     6             25      0

### Referências:
https://blog.softhints.com/pandas-value_counts-multiple-columns/